*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Exo', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/ProyectosCss/02_glassmorphism/img/fondo.jpg);
    background-image: url(/ProyectosCss/02_glassmorphism/img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

img {
    width: 22%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    padding: .3rem;
    
}

.container {
    width: 90%;
    /* min-width: 450px;
    max-width: 1080px; */
    height: 80%;
    border: 1px solid #000;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.objectives {
    width: 25%;
    height: 100%;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;

    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.conta {
    flex: 1 1 auto;
}

.containerText1 {
    width: 100%;
    /* height: 20%; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerText1 h2, h3 {
    text-transform: capitalize;
    margin-bottom: .5rem;
}

.weekly_planner {
    width: 70%;
    height: 100%;
    border: 1px solid #000;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.containerMuscles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);

    justify-items: center;
    align-items: center;
}

.gridTemplate {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    padding: 0 3rem;
    gap: 1rem 0.5rem;
    margin-bottom: 2rem;
}

.containerImgen {
    padding-top: 1.5rem;
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.containerImgen img {
    width: 100%;
    height: 100px;
    border-radius: 0;
    object-fit: cover;
    margin: 1rem 0;
    padding: 0.5rem 0;
}

/* containerDate*/

.containerText {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 5rem;
    text-transform: uppercase;
    line-height: 2rem;
}

.container_Monday, .container_Tusday, .container_Wednesday, .container_Thurday, .container_Friday {
    width: 70%;
    height: 70px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.7rem;
}


.container_Monday h4, p {
    width: 100%;
    text-align: center;
    
}


@media screen and (max-width: 1024px) {
    body {
        height: 100%;
        background-size: auto;
    }
    .container {
        width: 70%
    }
    .objectives {
        width: 90%;
        margin: 1rem auto;
    }
    .weekly_planner {
        width: 90%;
        margin: 0 auto;
        height: auto;
    }

}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 425px) {
    img {
        width: 16%;
    }
    .containerMuscles {
        row-gap: 0.3rem;
    }
    .containerText {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .gridTemplate {
        padding: 0 0;
        font-size: 0.8rem;
    }
    .container_Monday, .container_Tusday, .container_Wednesday, .container_Thurday, .container_Friday {
        width: 90%;
    }
}