* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    background-color: #EAA855;
    -webkit-box-shadow: 9px 5px 15px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 9px 5px 15px 5px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

.card {
    height: 175px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sushi {
    width: 40%;
    height: 60%;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 9px 5px 15px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 9px 5px 15px 5px rgba(0, 0, 0, 0.4);
}

.aguacate {
    width: 50%;
    height: 55%;
    background-color: green;
}

.sushi:nth-child(3) {
    background-color: pink;
} 

.carrot {
    width: 70%;
    height: 50%;
    background-color: orange;
}

